@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}
html, body {
    height: 100%;
    width: 100%;
}
#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 4.5vh;
}
nav{
    padding: 2vw 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid rgba(144, 144, 144, 0.718);
    border-radius: 50px;
    font-weight: 500;
    color: #000000bf;
    transition: all ease 0.4s;
    position: relative;
    overflow: hidden;
    font-size: 18px;
}
#nav-part2 h4::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50px;
    transition: all ease 0.4s ;
}
#nav-part2 h4:hover::after{
   bottom: 0;
   border-radius: 0%;
   
}
#nav-part2 h4 a{
    color: rgb(7, 7, 7);
    text-decoration: none;
    position: relative;
    z-index: 9;
}
#nav-part2 h4:hover a{
    color: #fff;
}
#center{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    border-bottom: 1px solid black ;
    padding-bottom: 4.5vh;
}
#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}
#center h1{
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}
#page1 video{
    width: 100%;
    position: relative;
    border-radius: 30px;
    margin-top: 4vw;
    
}
#hero-space{
    position: absolute;
    margin-top: 20px;
    height: 36vw;
    width: 46vw;
    right: 0;
    top: 65vh;
}
#hero1{
    background-color: orangered;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}
#hero2{
    background-color: orangered;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime2;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#hero3{
    background-color: orangered;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime1;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes anime1{
    from{
        transform: translate(55%, -3%);
    }
    to{
        transform: translate(0%, 10%);
    }
}
@keyframes anime2{
    from{
        transform: translate(5%, -5%);
    }
    to{
        transform: translate(-20%, 30%);
    }
}
#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding-top: 8vw;
    position: relative;
    border-bottom: 0.5px solid rgba(110, 104, 104, 0.833);
}
#movingpart{
    white-space: nowrap;
    overflow-x: auto;
}
#movingpart::-webkit-scrollbar{
    display: none;
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#movingpart h1{
    font-size: 9vw;
    display: inline-block;
}
#circle{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(255, 64, 0);
    display: inline-block;
    white-space: none;
    margin: 1vw 2vw;
}
@keyframes move{
   from{
    transform: translateX(0);
   }
   to{
    transform: translateX(-100%);
   }
}
#page2-bottom{
   height: 80vh;
   width: 100%;
   display: flex;
   align-items: center; 
   justify-content: space-between;
   padding: 4.5vw;
   position: relative;
   z-index: 9;
}
#page2-bottom h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}
#bottom-part2 {
    width: 20%;
    /* background-color: aqua; */
}
#bottom-part2 img{
    width: 100%;
    border-radius: 15px;
}
#bottom-part2 p{
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1vw;
}
#glow{
    height: 32vw;
    width: 32vw;
    border-radius: 50%;
    background: linear-gradient( to top right , rgb(239, 66, 3), rgb(255, 136, 0));
    position: absolute;
    top: 60%;
    left: 25%;
    filter: blur(20px);
    animation-name: glowy;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes glowy{
    from{
    transform: translate(10%, -10%) skew(0);
    }
    to{
    transform: translate(-10%, 10%) skew(-10deg);  
    }
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}
.elem{
    height: 150px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(92, 89, 89, 0.441);
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}
.elem h2{
    font-size: 3vw;
    z-index: 9;
    position: relative;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 174, 0);
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}
.elem:hover .overlay{
    top: 0;
    
}

#fixed-image{
    height: 30vw;
    width: 24vw;
    /* background-color: red; */
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}